doctype html
html
	head
		title=	name
	body
		// Main body of the pug file
		h1 Greetings from #{name}
		img(src="/images/pugTuteImpact1.jpg" alt="pugworld image")
		br
		a(href = url) URL
		br
		div Demo Text
		div
			| To insert multiple text
			| You can use the pipe operator.
			